/*
Color Pallete:
Background: #04151F
Sub-Backgrounds: #183A37
Sub-Headers:#EFD6AC
Headers: #C44900
Link-Selected: #432534
Text: #ecbe6e
*/

.content{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    border: 3px solid #C44900;
    padding: 10px;
}

body{
    background-color: #04151F;
}

h1{
    color: #34837c;
    text-align: center;
    font-size: 65px;
}

.body-header{
    color: #EFD6AC;
    text-align: center;
}

.body-text{
    color: white;
    text-align: center;
}

.url-links{
    color: #a8527d;
}
.url-links:hover{
    color: #432534; 
}